<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Useful links</title>
</head>
<body>
<h1>Useful things</h1>
<ol>
    <li><a href="/useful/colored">Colored background</a></li>
    <a>Validate an e-mail</a>
    <li><form method="POST" action="/useful/email">
        <input type="text" placeholder="type your e-mail" name = "email">
        <input type="submit" value="Send" name = "validate">
    </form>
    </li>
</ol>
</body>
</html>