<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Welcome to Programmer Fox Club</h1>
<p>Please, provide a name so you can associate to your pet. </p>
<form action="#"  th:action="@{/login}" th:method="post">
    <label for='nameInputField'>Name</label>
    <input id='nameInputField' name='loginName' type='text' placeholder="Type a name!" required>
    <button>Go</button>
</form>
</body>
</html>