<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition store</title>
</head>
<body>
<div class='form-row'>
    <label for='food'>Food</label>
    <select id='food' name='food'>
        <option value='xs'>Extra Small</option>
    </select>
    <label for='drink'>drink</label>
    <select id='drink' name='drink'>
        <option value='xs'>Extra Small</option>
    </select>
</div>
<div class='form-row'>
    <button>Change</button>
</div>
</body>
</html>