<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Account</title>
</head>
<body>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Account owner</th>
                <th>Balance</th>
                <th>Animal type</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:each="bankAccount : ${bankAccounts}">
            <tr th:style="${bankAccount.isKing() == true ? 'color: yellow;' : 'color: black;'}">
                <td th:text="${bankAccountStat.index}+1">Index</td>
                <td th:text="${bankAccount.name}">Account owner name</td>
                <td th:text="${bankAccount.balance}+' USD'" >Account balance</td>
                <td th:text="${bankAccount.animalType}">Account owner type</td>
        </th:block>
        </tbody>
    </table>

</div>

</body>
</html>