<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Account</title>
</head>
<body>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Account owner</th>
                <th>Balance</th>
                <th>Animal type</th>
                <th>Is King?</th>
                <th>Bad or Good Guy</th>
                <th>Index</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:each="bankAccount : ${bankAccounts}">
            <tr th:style="${bankAccount.isKing()? 'color: orange;' : 'color: black;'}">
                <td th:text="${bankAccountStat.index}+1">Index</td>
                <td th:text="${bankAccount.name}">Account owner name</td>
                <td th:text="${bankAccount.balance}+' USD'" >Account balance</td>
                <td th:text="${bankAccount.animalType}">Account owner type</td>
                <td th:text="${bankAccount.isKing()} ?'King': 'Not king'"></td>
                <td th:text="${bankAccount.isBadGuy()} ?'Bad guy': 'Good guy'"></td>
                <!--<td th:switch="${bankAccount.badGuy()}">
                    <span th:case = "true" th:text="'Bad Guy'"></span>
                    <span th:case = "false" th:text="'Good guy'"></span></td>-->
                <td th:text="${bankAccountStat.index}"></td>

        </th:block>
        </tbody>
    </table>
</div>

<form action="#" th:action="@{/raise}" th:method="post">
    <label for="account-select">Choose animal to raise balance for:</label>
    <select id="account-select" th:name="index"> //ez adja meg a nevet controllernek
        <option th:each="bankAccount:${bankAccounts}"
                th:text="${bankAccount.name}"
                th:value="${bankAccountStat.index}"></option>
    </select>
    <button type="submit">Raise</button>
</form>
<h1>Add a new bank account owner</h1>
<form action="#" th:action="@{/add}" th:object="${newBankAccount}" th:method="post">
    <label for="name">Add the name of the animal:</label>
    <input type="text" name="name" id="name" th:field="*{name}" required>
    <br>
    <label for="balance">Add the balance:</label>
    <input type="number" name="balance" id="balance" th:field="*{balance}" required>
    <br>
    <label for="type">Add the animal type:</label>
    <input type="text" name="type" id="type" th:field="*{animalType}" required>
    <br>
    <label for="king">Is he king?:</label>
    <input type="checkbox" name="king" id="king" th:field="*{king}">
    <br>
    <label for="isGoodGuy">Good guy</label>
    <input type="radio" id="isGoodGuy" th:field="*{badGuy}" th:value="false" checked/>
    <label for="badGuy">Bad guy</label>
    <input type="radio" id="badGuy" th:field="*{badGuy}" th:value="true"/>
    <br>
    <button type="submit">Add</button>
</form>

</body>
</html>